.upload-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.upload-form .botao {
    
	height: 40px;

	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;

	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    padding: auto;
}

.upload-form .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}