.body{
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}
h1{
    color: rgb(223, 223, 223);
}
.card{
    max-width: 40%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.card-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    max-width: 40%;
    height:auto;
    margin: auto;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.card .textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 40px;
    outline: solid;
    outline-color: gray;

    outline-width: 1px;
    padding: 20px;

}
.card .card-text{
    font-size: large;
    font-family: Arial, sans-serif;
    text-align: start;
    display: flex;
    flex-direction: row;    
}

.card .card-label{
    text-align: left;
    font-weight: bold;
    font-size: large;
    min-width: 80px;
}

.card .card-value{
    text-align: start;
    font-size: large;

}
.botao{
    width: 60%;
	height: 40px;
	margin: 10px 20px;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    padding: auto;
}

.card .button-user-photos{
    background-color:rgb(109, 130, 199);
       max-width: max-content;
       padding: 10px;
}

.card .button-user-logout{
    background-color: red;
    padding: 10px;
 
    max-width: max-content;
}
.card .button-user-photos .icone-galeria{
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin-right: 5px;
}

.card .button-user-logout .icone-logout{
    width: 25px;
    height: 25px;
    filter: invert();
    margin-right: 5px;
}
.rodape{
    font-size: small;
    opacity: 80%;
}
.botoes{
    display: flex;

    flex-direction: row;
    justify-content: center;
}